@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

html,
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html {
  position: relative;
  background-color: rgb(17, 16, 16);
  font-family: 'Rubik', 'Ubuntu', sans-serif;
  font-optical-sizing: auto;
  color: rgba(255, 255, 255, 0.8);
  min-height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;

  background-size: 25px 25px;
  background-position: center;
  background-image: radial-gradient(circle, rgba(210, 210, 210, 0.3) 1px, rgba(0, 0, 0, 0) 1px);

  animation: animate-background 5s linear infinite;
}

@keyframes animate-background {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-25px, -25px, 0);
  }
}

html::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  box-shadow: inset 0 0 10px 20px rgb(17, 16, 16);
  pointer-events: none;
}

.overflow-scroll-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.overflow-scroll-hidden {
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.apple-glass {
  box-shadow:
    rgba(255, 255, 255, 0.05) 0px 6px 24px 0px,
    rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
}

.dense-apple-glass {
  box-shadow:
    rgba(255, 255, 255, 0.05) 0px 6px 24px 0px,
    rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(8px);
}
